<section class="container">
	<h1>Take a tour</h1>
	<div class="explore-container">
		<article class="explore-item luxurious">
			<div class="explore-item-info">
				<div class="divider"></div>
				<div class="info">
					<h2>Luxurious rooms</h2>
					<p>
						The elegant luxury bedrooms in this gallery showcase custom interior designs &
						decorating ideas. View pictures and find your perfect luxury bedroom design.Luxurious
						bedrooms that will make you never want to leave your room again. See more ideas about
						luxurious bedrooms, bedroom design
					</p>
				</div>
			</div>
		</article>
		<article class="explore-item gym-center">
			<div class="explore-item-info">
				<div class="divider"></div>
				<div class="info">
					<h2>Gym center</h2>
					<p>
						Explore our cutting-edge fitness center equipped with the latest exercise machines and
						personalized training programs. Achieve your fitness goals in a dynamic and energizing
						environment. Elevate your workout experience at our state-of-the-art gym.
					</p>
				</div>
			</div>
		</article>
		<article class="explore-item restaurant">
			<div class="explore-item-info">
				<div class="divider"></div>
				<div class="info">
					<h2>Restaurant</h2>
					<p>
						Indulge in a culinary journey at our restaurant, where exceptional flavors and
						impeccable service converge. Immerse yourself in an ambiance of sophistication and savor
						exquisite dishes crafted with passion. Experience a memorable dining adventure at our
						exquisite restaurant.
					</p>
				</div>
			</div>
		</article>
	</div>
</section>
