<header>
	<nav>
		<div class="nav-header">
			<a routerLink="/"><img src="https://i.imgur.com/j4Fdm7R.png" alt="logo" /></a>
			<div class="nav-toggle" (click)="toggleMenu()">
				<i class="fa-solid fa-bars"></i>
			</div>
		</div>
		<div class="nav-links" [ngClass]="{ 'show-links': isMenuOpen }">
			<ul>
				<li><a routerLink="/">Home</a></li>
				<li><a routerLink="/explore">Explore</a></li>
				<li><a routerLink="/rooms">Rooms</a></li>
				<li><a routerLink="/about-us">About</a></li>
				<li><a routerLink="/contact">Contact</a></li>
			</ul>
			<div class="links">
				<a *ngIf="!isAdmin() && isLoggedIn" routerLink="/bookings/my-bookings" class="link"
					>My bookings</a
				>
				<a *ngIf="isAdmin() && isLoggedIn" routerLink="/admin" class="link">Admin Options</a>
				<button *ngIf="!isLoggedIn" routerLink="/auth/login" class="btn">Log In</button>
				<button *ngIf="isLoggedIn" (click)="logout()" class="btn log-out">Log Out</button>
			</div>
		</div>
	</nav>
</header>
