header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 120px;
	z-index: 2;
	background-color: #fff;
}

nav {
	padding: 2rem;
	background-color: #fff;
}

.nav-toggle {
	font-size: 2rem;
	cursor: pointer;
	color: #4942e4;
	transition: all 0.3s linear;
}

.nav-toggle:hover {
	transform: rotate(-90deg);
	color: #11009e;
}

.nav-links {
	height: 0;
	overflow: hidden;
	transition: all 0.3s linear;
}

.show-links {
	height: 400px;
}

.nav-header {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem;
	align-items: center;
}

ul {
	display: flex;
	align-items: center;
	flex-direction: column;
}

li {
	padding: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s linear;
}

a {
	transition: all 0.3s linear;
	font-weight: 800;
}

li:hover {
	background-color: #a3a0db;
	& a {
		color: #11009e;
	}
}

.log-out {
	background-color: #11009e;
}

.links {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.link {
	font-weight: bold;
	color: #4942e4;
	text-align: center;
	transition: all 0.3s linear;
	padding: 1rem;
	width: 100%;
}

.link:hover {
	color: #11009e;
	background-color: #a3a0db;
}

.btn {
	width: 200px;
	margin-top: 1rem;
}

@media screen and (min-width: 990px) {
	.nav-toggle {
		display: none;
	}

	.nav-links {
		height: auto;
		display: flex;
		gap: 2rem;
	}

	nav {
		display: flex;
		justify-content: center;
		gap: 2rem;
	}

	ul {
		flex-direction: row;
		margin-bottom: 0;
		gap: 1rem;
	}

	li {
		width: 90px;
	}

	li:hover {
		background-color: #a3a0db;
		& a {
			font-weight: 800;
			color: #11009e;
		}
	}

	.links {
		text-align: left;
		flex-direction: column-reverse;
	}

	.btn {
		width: 150px;
		text-align: center;
		margin-top: 0;
	}
}

@media screen and (min-width: 1090px) {
	nav {
		justify-content: space-evenly;
		gap: 0;
	}

	.nav-links {
		gap: 6rem;
	}

	.links {
		margin-left: 7rem;
	}
}

@media screen and (min-width: 1300px) {
	.links {
		flex-direction: row;
	}

	.btn {
		width: 200px;
	}
}
