.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	margin: 4rem 0;
}

h1 {
	font-size: 2.5rem;
	color: #4942e4;
}

label {
	font-weight: 800;
	font-size: 1.2rem;
}

img {
	max-width: 400px;
}

.create-room {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	background-color: #d8d7e5;
	padding: 2rem;
	border-radius: 8px;
	width: 80vw;
}

.form-col {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

input {
	padding: 0.8rem;
	border: 1px solid #4942e4;
	border-radius: 8px;
}

.btn {
	text-align: center;
	width: 80vw;
	margin-top: 2rem;
	font-size: 1.3rem;
}

@media screen and (min-width: 990px) {
	.create-room {
		display: grid;
		grid-template-columns: repeat(2, 300px);
		width: auto;
	}

	.btn {
		width: 600px;
	}
}
