.amenities{
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  gap: 3rem;
}

.amenities-item{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.amenity-title{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.amenity-title i{
  font-size: 1.2rem;
}

.amenity-title p{
  font-size: 1.2rem;
  font-weight: 800;
}

ul{
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

li{
  list-style: disc;
}
