<footer>
	<div class="main-footer-info">
		<section class="main-info">
			<h3>Paradise view</h3>
			<p>
				A beacon of exceptional hospitality. Immerse yourself in unparalleled service, anticipating
				your every need. Indulge in exquisite cuisine, experience impeccable service, and enjoy a
				positive atmosphere. Our dedicated staff's longevity and commitment ensure the success of
				every event.
			</p>
		</section>
		<section>
			<h3>Quick links</h3>
			<ul>
				<li><a href="">Room Booking</a></li>
				<li><a href="">Rooms</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">Explore</a></li>
			</ul>
		</section>
		<section>
			<h3>Company</h3>
			<ul>
				<li><a href="">Privacy policy</a></li>
				<li><a href="">Refund policy</a></li>
				<li><a href="">F.A.Q</a></li>
				<li><a href="">About </a></li>
			</ul>
		</section>
		<section>
			<h3>Social media</h3>
			<ul>
				<li><a href="">Facebook</a></li>
				<li><a href="">Twitter</a></li>
				<li><a href="">Instagram</a></li>
				<li><a href="">Linkedin </a></li>
			</ul>
		</section>
		<section>
			<h3>Newsletter</h3>
			<p>
				Kindly subscribe to our newsletter to get latest deals on our rooms and vacation discount.
			</p>
			<form>
				<input type="text" placeholder="Enter your email" />
				<button class="btn">Subscribe</button>
			</form>
		</section>
	</div>
	<div class="divider"></div>
	<div class="company">
		<p>Paradise View 2024</p>
	</div>
</footer>
