<ng-template #noRoomsMessage>
	<section class="no-rooms">
		<h1>No rooms available</h1>
	</section>
</ng-template>

<section class="rooms-container" *ngIf="rooms.length > 0; else noRoomsMessage">
	<mat-card class="room-item" *ngFor="let room of rooms">
		<img src="{{ room.imgUrl }}" alt="{{ room.name }}" />
		<article class="main-info">
			<h2>{{ room.name }}</h2>
			<div class="info-container">
				<p class="info-title">Popular amenities</p>
				<ul class="info">
					<li *ngFor="let item of room.highlights">
						<i class="fa-solid fa-circle-chevron-right"></i>
						<span>{{ item }}</span>
					</li>
				</ul>
			</div>
			<div class="divider"></div>
			<div class="details">
				<div class="price-details">
					<p class="price">{{ room.initialPrice | currency: 'USD' }}</p>
					<p class="final-price">{{ room.totalPrice | currency: 'USD' }} total</p>
					<p>includes taxes & fees</p>
				</div>
				<div class="buttons">
					<button routerLink="/rooms/{{ room.id }}" class="btn">More Details</button>
					<button routerLink="/bookings/rooms/1" class="btn" [disabled]="!room.available">
						Book Now
					</button>
				</div>
			</div>
		</article>
	</mat-card>
</section>
