<ng-template #noRoomsMessage>
	<section class="no-rooms">
		<h1>No rooms available</h1>
	</section>
</ng-template>

<section class="rooms-container" *ngIf="rooms.length > 0; else noRoomsMessage">
	<mat-card class="room-item" *ngFor="let room of rooms">
		<img src="{{ room.imgUrl }}" alt="{{ room.name }}" (error)="handleError(room)" />
		<article class="main-info">
			<h2>
				{{ room.name }}
			</h2>
			<span
				[ngClass]="{ available: room.available, 'not-available': !room.available }"
				class="available-base"
				>{{ room.available ? 'Available' : 'Not Available' }}</span
			>
			<div class="divider"></div>
			<div class="details">
				<div class="price-details">
					<p class="price">{{ room.initialPrice | currency: 'USD' }}</p>
					<p class="final-price">{{ room.totalPrice | currency: 'USD' }} total</p>
					<p>includes taxes & fees</p>
				</div>
				<div class="buttons">
					<button routerLink="/rooms/{{ room.id }}" class="btn">More Details</button>
					<button
						routerLink="/bookings/rooms/{{ room.id }}"
						class="btn"
						[disabled]="!room.available"
					>
						{{ room.available ? 'Book Now' : 'Not available' }}
					</button>
				</div>
			</div>
		</article>
	</mat-card>
</section>
