.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	height: 99vh;
}

.form-main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 3rem 4rem 3.5rem;
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.form-container p {
	text-align: center;
}

.form-container h1 {
	margin: 1.5rem 0 0;
	font-size: 1.8rem;
	font-weight: 600;
	color: #4942e4;
}

.form-main-container h2 {
	font-size: 2rem;
	margin: 0 4rem;
	text-align: center;
	color: #11009e;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

input {
	padding: 1rem;
	border-radius: 5px;
	border: 1px solid #4942e4;
}

a {
	color: #4942e4;
	font-weight: 800;
}

button {
	font-family: 'Mulish';
	font-size: 1rem;
	margin-top: 1.5rem;
}

label {
	font-weight: 800;
}
